.bg-jumbotron{
  background-color: #222e5a;
}
.btn-custom{
  background-color:#ffcc00;
  color: #ffffff;
}

.btn-custom:hover{
  background-color:#fcda16;
  color: #ffffff;
}

.bg-divider {
    background-color: #ffcc00;
}

.maps {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .title{
    border-color: #222e5a !important;
    color: #222e5a !important;
  }
  
  .tel {
      display: none;
  }
  
  .footer{
    background-color: #ffcc00;
  }